.row{
    &--content{
        justify-content: center;
        // margin-bottom: 20px;
        text-align: center;
    }
    &--content--box{
        background: #1e73be;
        border-radius: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 70px;
        width: 70px;
        height: 70px;
    }
    &--content--img--icon1{
        width: 35px;
        height: 35px;
        margin-top: 17px;
    }
    &--content--img--icon2{
        width: 35px;
        height: 35px;
        margin-top: 18px;
        margin-left: 5px;
    }
    &--content--img--icon3{
        width: 38px;
        height: 38px;
        margin-top: 15px;
    }
    &--content--img--icon4{
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }
    &--content--info{
        font-size: 18px;
        h5{
            font-weight: 400;
            font-size: 17px;
            line-height: 32px;
            color: #777;
            // margin-bottom: 33px;
        }
        margin-top: 0;
        // margin-bottom: 10px;
    }
    &--content--subtitle{
        h3{
            font-weight: 400;
            font-size: 25px;
            line-height: 32px;
            color: #1d2127;
            margin: 0 0 33px 0;
            text-align: left;
        }
        ul{
            margin-top: 0;
            margin-bottom: 10px;
        }
        li {
            line-height: 24px;
            color: #777;
            text-align: left;
        }
        p{
            text-align: left;
            color: #777;

        }
    }
}

span{
    color: #e5a34c;
}

h4{
    text-align: left;
}

// h3{
//     font-weight: 400;
//     font-size: 25px;
//     line-height: 32px;
//     color: #1d2127;
// }

// ul{
//     margin-bottom: 10px;
//     margin-top: 0;
//     padding-left: 40px;
//     text-align: left;
// }

//    tabs

.tabs{
    font-family:arial;
    // margin:0 auto;
    // width:100%;
    text-align:center;
    margin-top:5vh;
  }

  
  .tab-buttons{
    margin-bottom:50px;
  }
  
  button{
    margin-right:15px;
    font-size:20px;
    background:transparent;
    border:none;
    outline:none;
    padding:10px 20px ;
    cursor:pointer;
    color:rgba(0,0,0,.4);
    transition:all ease-in-out .2s;
    border-bottom:2px solid transparent;
    
  }
  .active{
    border-bottom:2px solid #42b3f4;
    color:black;
  }