.advantages--section{
    padding-bottom: 50px;
    padding-top: 40px;
    &--title{
        margin-top: 50px;
        margin-bottom: 32px;
    }
    &--strong{
        font-weight: bold;
    }
    &--content{
        padding: 0 15px;
        display: flex;
        align-items: center;
    }
    &--content--leftSide{
        &--title{
            display: flex;
            padding: 0 15px;
        }
        &--img1{
            color: #ffffff;
            background: #28343c;
            border-width: 1px;
            border-radius: 500px;
            width: 65px;
            height: 30px;
            display: inline-block;
            margin-right: 15px;
        }
        &--img2{
            color: #ffffff;
            background: #28343c;
            border-width: 1px;
            border-radius: 500px;
            width: 80px;
            height: 32px;
            display: inline-block;
            margin-right: 15px;
        }
        &--img3{
            color: #ffffff;
            background: #28343c;
            border-width: 1px;
            border-radius: 500px;
            width: 80px;
            height: 30px;
            display: inline-block;
            margin-right: 15px;
        }
        &--icon1{
            line-height: inherit;
            text-align: center;
            width: 20px;
            height: 20px;
            margin: 5px;
            // padding-left: 2px;
            // padding-top: 5px;
        }
        &--icon2{
            line-height: inherit;
            text-align: center;
            width: 22px;
            height: 22px;
            margin: 4.5px 5px 5px 5px;
            // padding-left: 2px;
            // padding-top: 4px;
        }
        &--icon3{
            line-height: inherit;
            text-align: center;
            width: 20px;
            height: 17px;
            // padding-left: 4px;
            margin: 5px 5px 5px 5px;
            // padding-top: 3px;
        }

        &--text{
            float: left;
        }
        &__title{
            font-weight: 400;
            font-size: 25px;
            line-height: 32px;
            color: #1d2127;
        }
    }
    &--content--rightSide{
        &--title{
            display: flex;
        }
        &--img4{
            color: #ffffff;
            background: #28343c;
            border-width: 1px;
            border-radius: 500px;
            width: 80px;
            height: 31px;
            display: inline-block;
            margin-right: 15px;
        }
        &--img5{
            // color: #ffffff;
            background: #28343c;
            border-width: 1px;
            border-radius: 500px;
            width: 75px;
            height: 30px;
            display: inline-block;
            margin-right: 15px;
        }
        &--img6{
            // color: #ffffff;
            background: #28343c;
            border-width: 1px;
            border-radius: 500px;
            width: 75px;
            height: 30px;
            display: inline-block;
            margin-right: 15px;
        }
        &--icon4{
            line-height: inherit;
            text-align: center;
            width: 20px;
            height: 20px;
            margin: 5px;
            // padding-left: 3px;
            // padding-top: 5px;
        }
        &--icon5{
            line-height: inherit;
            text-align: center;
            width: 20px;
            height: 20px;
            margin: 5px;
            // padding-left: 4px;
            // padding-top: 6px;
        }
        &--icon6{
            line-height: inherit;
            text-align: center;
            width: 17px;
            height: 17px;
            margin: 5px;
            // padding-left: 5px;
            // padding-top: 4px;
        }
        &--text{
            float: left;
        }
    }
}


@media screen and (max-width: 850px) {
    .advantages--section{
        padding-top: 20px;
    }
    .advantages--section--content{
        display: block;
    }
}

// @media screen and (max-width: 650px) {
//     .advantages--section--content{
//         display: block;
//     }
// }