//       MODAL

.main--modal{
    padding: 40px 50px;
}

.title{
    font-size: 36px;
    line-height: 1.23;
    font-family: 'helvetica',Arial,sans-serif;
    font-weight: 600;
    color: black;
    margin-bottom: 11px;
}

.sub--title{
    font-size: 16px;
    line-height: 1.55;
    font-family: 'helvetica',Arial,sans-serif;
    font-weight: 300;
    color: #000;
    margin-bottom: 24px;
}

.modal--input{
    width: 400px;
    height: 50px;
    border-radius: 7px;
    border: 0.5px solid lightgrey;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 25px;
}

.input--modal{
    width: 400px;
    height: 50px;
    border-radius: 7px;
    border: 0.5px solid lightgrey;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 25px;
}

.modal--btn{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    background-color: #6382a1;
    padding: 13px 115px;
    border-radius: 10px;
    margin-right: 0;
}

//       MODAL

header{
    // background: #394852;
    background: url(../../../public/img/14-1024x882.png) center center/cover;
    height: 105vh;

    @media only screen and (max-width:900px) {
        height: 100vh;
    }

    .header--strong{
        color: rgb(166, 159, 151);
    }
}
.header--content{
    padding-top: 140px;
    // width: 790px;
    margin: auto;

    @media only screen and (max-width: 1200px) {
        padding-top: 80px;
    }

    .header--title{
        text-align: center;
        z-index: 7;
        color: #ececec;
        font-size: 55px;
        font-family: 'Helvetica',Arial,sans-serif;
        line-height: 1.15;
        font-weight: 350;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        @media only screen and (max-width: 990px) {
            text-align: center;
            z-index: 7;
            color: #ececec;
            font-size: 30px;
            font-family: 'Helvetica',Arial,sans-serif;
            line-height: 1.15;
            font-weight: 350;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }
    }
    .header--sub--title{
        padding-top: 15px;
        z-index: 7;
        text-align: center;
        color: #ffffff;
        font-size: 28px;
        font-family: 'Helvetica',Arial,sans-serif;
        line-height: 1.35;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        @media only screen and (max-width: 990px) {
            padding-top: 15px;
            z-index: 7;
            text-align: center;
            color: #ffffff;
            font-size: 13px;
            font-family: 'Helvetica',Arial,sans-serif;
            line-height: 1.35;
            font-weight: 400;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }
        
    }
    .header--button{
        padding-top: 35px;
        .header--btn{
            color: #ffffff;
            font-size: 25px;
            font-family: 'Helvetica',Arial,sans-serif;
            line-height: 1.55;
            font-weight: 400;
            border-radius: 20px;
            background-color: #6382a1;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
            padding: 25px 35px 25px 35px;

            @media only screen and (max-width: 990px) {
                color: #ffffff;
                font-size: 17px;
                font-family: 'Helvetica',Arial,sans-serif;
                line-height: 1.55;
                font-weight: 400;
                border-radius: 20px;
                background-color: #6382a1;
                background-position: center center;
                border-color: transparent;
                border-style: solid;
                padding: 20px 30px 20px 30px;

            }
        }
    }
    .header--info{
        padding-top: 20px;
        text-align: right;
        color: #ffffff;
        font-size: 20px;
        font-family: 'Helvetica',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        @media only screen and (max-width:990px) {
            color: #ffffff;
            font-size: 10px;
            font-family: 'Helvetica',Arial,sans-serif;
            line-height: 1.55;
            font-weight: 300;
            background-position: center center;
            border-color: transparent;
            border-style: solid;
        }
    }
}

// @media only screen and (max-width: 1250px) {
//     header
// }

@media only screen and (max-width: 1290px) {
    header{
        height: 70vh;
    }
   .header--title{
    text-align: center;
    z-index: 7;
    color: #ececec;
    font-size: 30px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.15;
    font-weight: 350;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
   }
   .header--sub--title{
    padding-top: 15px;
    z-index: 7;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.35;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
   }
   .header--button--btn{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-radius: 20px;
    background-color: #6382a1;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
   }
   .header--info{
    color: #ffffff;
    font-size: 10px;
    font-family: 'Helvetica',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 300;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
   }
}